<nav class="navbar navbar-expand-lg bg-primary shadow-sm">
  <div class="container-fluid">
      <!-- Logo con mejor alineación -->
      <a class="navbar-brand" routerLink="/">
          <img [src]="'/img/logoIndec.png'" width="120" height="50" class="d-inline-block align-text-top">
      </a>

      <!-- Botón de menú responsivo -->
      <button class="navbar-toggler border-0 text-white" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
              aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenido del menú -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link text-white fw-semibold px-3" routerLink="/">Catálogo</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white fw-semibold px-3" routerLink="/sucursales">Info sucursales</a>
              </li>
          </ul>

          <!-- Carrito de compras -->
          <a class="nav-link text-white position-relative" routerLink="/carrito">
              <i class="fa fa-shopping-cart fa-lg"></i>
              <span class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-pill">
                  {{carritoService.cantidad()}}
              </span>
          </a>
      </div>
  </div>
</nav>
