/* Pantalla Splash */
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4e444b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#splash-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

#splash-screen img {
    width: 250px;
    animation: fadeIn 1.5s ease-in-out;
}

#splash-screen p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 10px;
    animation: fadeIn 1.5s ease-in-out;
}

/* Rueda de carga (spinner) */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: #ffffff; /* Color del spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-top: 20px;
}

/* Animación del spinner */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
